@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

ul {
    display: inline-block;

}

li {
    display: inline-block;
    background-color: #e7e7e7;
    list-style: none;
    padding: 10px;
    border-radius: 50%;
}

li a {
    text-decoration: none;
}